@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700');

/* 스타일초기화 */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* 본문스타일 */

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #181818;
    line-height: 1.15;
    background-color: #fff;
    font-size: 1.6rem;
}

.header,
.menu,
.content,
.footer {
    width: 1000px;
    margin: 0 auto;
}

.bg-header {
    position: sticky;
    top: 0;
}

.bg-header,
.bg-footer {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    min-width: 1000px;
}

.header {
    min-height: 100px;
    position: relative;
}


/* 로고 */

.logo {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
}


/* 멤버서비스 */

.member {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    padding-top: 1em;
}

.member li {
    margin-left: 1em;
}


/* 네비게이션 */

.menu {
    background: transparent;
    min-height: 100px;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

.main-menu li {}

.main-menu a {
    font-weight: 700;
    font-size: 2rem;
    padding: 10px;
    display: block;
    text-shadow: 1px 1px 3px#aaa, 2px 2px 3px #aaa, 3px 3px 3px #aaa;
}


/* 메인메뉴 */

.content {
    background: transparent;
    min-height: 1000px;
}

.footer {
    background: transparent;
    min-height: 100px;
}